<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Log in</title>
    <!-- TODO: add styling fragment -->
    <div th:replace="/fragments/styles :: head-style" ></div>
</head>
<body>
    <div class="container-fluid">
    <div th:replace="fragments/navbar"></div>
        <h2>Please Log In!</h2> 
        <form th:action="@{/login}" method="post"><br/>
            <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
            <div align="center" th:if="${param.error}">
                <h4 style="color: red">Login unsuccessful.</h4>
            </div>
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">Log in</button> 
        </form> 
        <div class="text-right"><!-- TODO: Create button to signup - needs to be a mini form w/get request - look at controller -->
        	<form action="#" th:action="@{/signup}" method="get">
				<p>Don't have an account? Sign Up:</p>
			 		<button class="btn btn-primary">Sign Up!</button>
			</form>
        </div>     
    </div>
</body>
</html>