1) Add the necessary database settings to application.properties[X]

2) Create a model/entity to store zip codes in the database [X]

3) Create a zip code repository[X]

4) Inject the zip code repository into the weather service[X]

5) Any time the getForecast method is called in the weather service, add the zip code to the database [X]

6) Create a weather service method to get the (up to 10) most recent searches

7) In both of the weather controller methods, call the new service method and add the the list of zip codes to the model

8) In the html page, add code to display the recent searches in a table