//TUWBAT login via a simple login screen
//TUWBAT sign up for an account


//TODO: in the navbar, if the user is an admin, allow them to add a new product.
//TODO: in the navbar, if the user is an admin, allow them to remove a product.
//TODO: enable login screen
//TODO: enable signup screen
